{% extends "base_generic.html" %}

{% block content %}
  <h1>Non Curated Data List</h1>
  {% if dbm_List %}
  <ol>
    {% for data in uid_list %}
      <li>
        <p> Data no : <a href="{{ data.get_absolute_url }}">{{ data.uid }}</a></p>
        {% for nama in data.nama %}
          Nama : {{ nama.nama }} <br>
        {% endfor %}

        {% for email in data.email %}
          Email : {{ email.email }} <br>
        {% endfor %}
      </li>
    <br>
    {% endfor %}
  </ol>
    {% if uid_list.paginator.num_pages > 1 %}
      {% if uid_list.has_previous %}
        <a href="?page={{ uid_list.previous_page_number }}">previous</a>
      {% endif %}
      <span>Page {{ uid_list.number }} of {{ uid_list.paginator.num_pages }}</span>
      {% if uid_list.has_next %}
        <a href="?page={{ uid_list.next_page_number }}">next</a>
      {% endif %}
    {% endif %}
  {% else %}
    <p>There are no data in the database.</p>
  {% endif %}
{% endblock %}