{% extends "base_generic.html" %}

{% block content %}
  <h1>Non Curated Data List</h1>
  {% if dbm_List %}
  <ol>
    {% for data in uid_list %}
      <li>
        <p> Data no : <a href="{{ data.get_absolute_url }}">{{ data.uid }}</a></p>
        {% for nama in data.nama %}
          Nama : {{ nama.nama }} <br>
        {% endfor %}

        {% for email in data.email %}
          Email : {{ email.email }} <br>
        {% endfor %}
      </li>
    <br>
    {% endfor %}
  </ol>
    {% if uid_list.paginator.num_pages > 1 %}

    <div class="pagination">
      {% if uid_list.has_previous %}
      <a class="pagination-action" href="?page=1">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
          &emsp;
      <a class="pagination-action" href="?page={{ uid_list.previous_page_number }}">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
      &emsp;
      {% endif %}
      {% for num in uid_list.paginator.page_range %}
          {% if uid_list.number == num %}
              <span class="pagination-number pagination-current">{{ num }}</span>&emsp;
          {% elif num > uid_list.number|add:'-3' and num < uid_list.number|add:'3' %}
              <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>&emsp;
          {% endif %}
      {% endfor %}
      {% if uid_list.has_next %}
          <a class="pagination-action" href="?page={{ uid_list.next_page_number }}">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
          &emsp;
          <a class="pagination-action" href="?page={{ uid_list.paginator.num_pages }}">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
      {% endif %}
    </div>

    {% endif %}
  {% else %}
    <p>There are no data in the database.</p>
  {% endif %}
{% endblock %}