{% extends "base_generic.html" %}

{% block content %}
  <h1>History Log</h1>
  <div class="container">
    
    <ol class="container">
      {% for p in log %}
      <li>
        <p>Kurator : {{ p.kurator }}</p>
        <p>Waktu : {{ p.timestamp}}</p>
        <p>UID: {{p.uid}}</p>
        <p>Action: {{p.action}}</p>
      </li>
      {% endfor %}
    </ol>
    {% if log.paginator.num_pages > 1 %}
      {% if log.has_previous %}
        <a href="?page={{ log.previous_page_number }}">previous</a>
      {% endif %}
      <span>Page {{ log.number }} of {{ log.paginator.num_pages }}</span>
      {% if log.has_next %}
        <a href="?page={{ log.next_page_number }}">next</a>
      {% endif %}
    {% endif %}    
  </div>
  

{% endblock %}
