{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Website Kurasi</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %} ">
  <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

</head>
<body>
  <div class="jumbotron">
    <div class="row jumbotron">
      <div class="col-sm-2">
      {% block sidebar %}
      {% if user.is_authenticated %}
      <ul class="nav nav-sidebar">
        <li class="nav-item">Welcome, {{ user }}!</li>
      </ul>
      {% endif %}      
        <ul class="nav nav-sidebar">
          <li class="nav-item" ><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li class="nav-item" ><a class="nav-link active" href=" {% url 'data' %} ">All data</a></li>
        </ul>        
        <ul class="nav nav-sidebar">
          <li class="nav-item" ><a class="nav-link active" href=" {% url 'data_curated' %} ">Curated</a></li>
        </ul>
        {% if user.is_authenticated %}
        <ul class="nav nav-sidebar">  
          <li class="nav-item" ><a class="nav-link active" href=" {% url 'logout' %} ">logout</a></li>
        </ul>
        {% else %}
        <ul class="nav nav-sidebar">
          <li class="nav-item" ><a class="nav-link active" href=" {% url 'register' %} ">Register</a></li>
        </ul>
        
        <ul class="nav nav-sidebar">
          <li class="nav-item" ><a class="nav-link active" href=" {% url 'login' %} ">Login</a></li>
        </ul>
        {% endif %}
        <ul class="nav nav-sidebar">      
          <li class="nav-item">Time Now :</li>
        </ul>          
        <ul class="nav nav-sidebar">
          <li class="nav-item">{{time}}</li>
        </ul>
     {% endblock %}
      </div>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags}}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>