{% extends "base_generic.html" %}

{% block content %}
  
  <p>Welcome to Kurasi Admin, a website developed by <em>Kevin Irawan</em> & <em>Josua Dion Tamba</em>!</p>
  <h2>Dynamic content</h2>
  <p>The database has the following record counts:</p>
  <ul>
    <li><strong>Database Master:</strong> {{ num_data }}</li>
    <li><strong>ID:</strong> {{ num_uid }}</li>
    <li><strong>Nama:</strong> {{ num_nama }}</li>
    <li><strong>Email:</strong> {{ num_email }}</li>
    <li><strong>Judul:</strong> {{ num_judul }}</li>
    <li><strong>Kelas:</strong> {{ num_kelas }}</li>
    <li><strong>Pelajaran:</strong> {{ num_pelajaran }}</li>
    <li><strong>Kategori:</strong> {{ num_kategori }}</li>
    <li><strong>Link:</strong> {{ num_link }}</li>
  </ul>
{% endblock %}